/*html {scroll-behavior: smooth;}
*/

/*
*, :after, :before {
	box-sizing: border-box;
	flex-wrap: wrap;

}*/

/*
*{
	margin: 0;
	width: 100%;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none;
}*/

/* ========================
	 
	 Base Element Styles 

   ======================== */


*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;

}



.Navbar{
	display: flex;
	flex-direction: row;
	height: 60px;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #0089d0;

}

.Amenu {
	align-self: center;
/*	flex-grow: 1;
*/	flex: 0.5;
	cursor: default;

}

.section{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	flex-grow: 2;
	height: 600px;
}


.footer {
	display: flex;
	flex-wrap: row wrap;
	justify-content: center;
	align-content: center;
	height: 70px;


}

/*html  {
	margin: 0;
	background:gray;
	box-sizing: border-box;

}
*/
/*
h1{
	margin: 0;
	padding: 1.5rem;
	border: 5px;
	font-size: 55px;
	color: white;
	text-align: center;
	letter-spacing: 17px;
	box-sizing: border-box;
}






/* MY CLASSES That WORK */




.Header{
/*	background-color: red;
*/	width: 100%;
	box-sizing: border-box;

}

.container {
/*	margin: 0;
*/
}



.TopQuickLinks{
	margin: 0;
/*	border: 10px;
	padding: 13px;*/
/*	background-color: green;
*/
}


.TopBlock {
	margin: 0;
/*	padding: 5px;
	border: 10px;*/
/*	background-color: blue;
*/	text-align: center;


}




.Navbar {
	overflow: hidden;
	background-color: #0089d0;


}

.Navbar .Amenu {
	display: flex;
	justify-content: center;
}



.Navbar a:hover {
	background: darkblue;


}


a:hover {
	cursor: pointer;

}

/*

/* Links inside the navbar */


.Navbar a{
	width: 14.28%;
/*	float: left;
*/	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	text-align: center;
/*	position: relative;
*/
}






/* The 1st dropdown container */


.Dropdown {
	display: block;
	position: absolute;	
	flex-direction: column;
	width: 100%;
	overflow: hidden;
/*	float: left;
*/		


}

.dropcontent {
	display: flex;
	flex-direction: column;
	margin: 55px 0px 55px 0px;
	padding: 5px; 

}

  
#Home > .Dropdown > .dropcontent a:hover {
	display: block;
	width: 100%;
}



/* The 2nd dropdown container */

#FoodDepartment {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.DropdownA {
	display: block;
	position: absolute;	
	flex-direction: column;
	width: 100%;
	overflow: hidden;

}

.dropcontentA {
	display: flex;
	flex-direction: column;
	margin: 55px 0px 55px 185px;
	padding: 5px; 

}


/*
nav div a {
	position: relative;
	width: 100%;
	text-align: center;

}*/


/*.Dropdown:hover .dropcontent {
	display: block;
	top: 0;

}
*/

/*
.dropcontent a:hover{
	display: block;
	top: 0;

}


.Navbar div:hover .dropcontent a{
	display: block;
	top: 0;

}*/


/*.dropcontent a{
	display: none;
	position: relative;

}*/





/* /* Dropdown Content (Hidden by Default) */

.dropcontent {
/*	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 	z-index: 1;


	display: none;
	list-style: none;
	background-color: #f9f9f9;*/

}

/*.dropcontent:hover {
	display: block;

}*/






/* ------*/







/* ========================
	 Media Queries
   ======================== */
/*
@media screen and (min-width: 731px) {
	div{
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
	}

	h1 {
		max-width: 100%;
		font-size: 25px;
		letter-spacing: 10px;
	}
	
}


 ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
*/


