

/* MY CLASSES WORK */

/*.container{*/
	height: 100vh;
	display: grid; 
	grid-template-columns: 1fr ;
/*	grid-template-rows: 1fr 1fr 1fr 1fr minmax(250px, 1fr) 70px;
*/	
	grid-auto-rows: repeat(6, minmax(100px, auto)) ;
	grid-gap: 5px;
	grid-template-areas: 
	"header"
	"Links"
	"Solaris"
	"TopNav"
	"section"
	"footer";
}


.Header {
	grid-area: header;  /*Shorthand method naming Grid Area, link above to grid-template-area */
	background-color: green;
}


.TopQuickLinks {
	grid-area: Links;
	background-color: red;

}


.TopBlockSolaris{
	grid-area: Solaris;
	background-color: yellow;

}


.TopNav {
	grid-area: TopNav;
/*	background-color: #0089d0;
*/
}


section{
	 grid-area: section;
	 background-color: #0089d0;

}


footer {
	grid-area: footer;
 	background-color: grey;

}


