*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background-color: lightblue;
	
}

 .coupon{
 	position: relative;
	margin: 20px auto;
	width: 300px;
	background-color: #ffffff;
	text-align: center;
	border:	10px dashed darkblue;
	color:	darkblue;
	padding: 20px;

}

 .coupon img{
 	position: absolute;
 	bottom: -130px;
 	left: -130px;

 }