html {scroll-behavior: smooth;}

* { 
	margin:  0;
	padding: 0;

}

#banner {
 	background-image: linear-gradient 
 	(rgba(0,0,0,0.5), #009688);
  }

.logo{
	width: 140px;
	position: absolute;
	top: 4%;
	left: 10%;
}