/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


html {scroll-behavior: smooth;}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
	overflow: auto;

}


body {
	background: 
	-webkit-gradient(
		linear, 
		left top, left bottom, 
		from(rgba(40,70,89,0.6)), 
		to(#304659) 
		),
		url(Peru1.jpg);
	background: 
	-o-linear-gradient(
		var(rgba(40,70,89,0.6)), 
		var(#304659)
		), 
		url(Peru1.jpg);
	background: 
		linear-gradient(
		var(rgba(40,70,89,0.6)), 
		var(#304659)
		), 
		url(Peru1.jpg);
	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: fixed;

}

p, a, button{
	font-family: "Lato", sans-serif;
	color: #F5F9FC;
	text-decoration: none;
}

a, button, .logo{
	cursor: pointer;

}

main {
	height: 100%;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: minmax(60px, 1fr) (minmax(1fr, 190px))[6] minmax(60px, 1fr);
	grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px)) minmax(60px, 1fr);
	grid-column: 2 / span 6;
}


header{
	-ms-grid-column: 2;
	-ms-grid-column-span: 6;
	grid-column: 2 / span 6;
}

nav{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 120px;

}

.BKGPhoto{
	background-image: url(Peru1.jpg);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(40,70,89,0.4)), to(#304659));
	background-image: -o-linear-gradient(rgba(40,70,89,0.4), #304659);
	background-image: linear-gradient(rgba(40,70,89,0.4), #304659);
	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: fixed;
 	-webkit-filter: opacity(100%);
}


.hero_font{
	color: #F5F9FC;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 4.375rem;
}


.links{
	margin-left: auto;

}


.links a, .links button{
	font-size: 1.0625rem;
	font-weight: 400;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.links a{
	margin-right: 50px;

}

.links a:hover {
	color: #DE8A86;
}


.button_med{
	border: none;
	background-color: #EA918D;
	padding: 8px 25px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;

}

.button_med:hover{
	background-color: #DE8A86;
}


.info{
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	grid-column: 2 / span 4;
	
}


.ICONS{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	margin-top: 55px;

}

.icon1, .icon2, .icon3{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	
}

.icon1 .fa{
	width: 80px;
	height: 80px;
	font-size: 55px;
	line-height: 50px;

}

.icon2 .fa{
	width: 80px;
	height: 80px;
	font-size: 55px;
	line-height: 50px;

}


.icon3 .fa{
	width: 80px;
	height: 80px;
	font-size: 55px;
	line-height: 50px;

}


.icon_info {
	margin: 0 80px 0 20px;

}

.icon_top {
	font-size: 1.0625rem;
	font-weight: 400;
	margin-bottom: 5px;

}

.icon_bottom{
	font-size: 1.5625rem;
	font-weight: 700;
}

.FEATURES{
	-ms-grid-column: 2;
	-ms-grid-column-span: 7;
	grid-column: 2 / span 7;
	background-color: rgba(48, 70, 89, 0.8);
	align-self: end;
	padding: 40px 0 0 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: cen ter;
	    -ms-flex-align: center;
	        align-items: center;
}

.feature {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px 60px 40px 0px;
}

.feature:nth-child(3) {
	-ms-flex-item-align: start;
	    align-self: flex-start;
}


.feature img {
	height: 100px;
	margin-right: 20px;
}


.feature_info {
	margin-top: 10px;
}

.feature_top, .feature_cta{
	font-size: 0.8125rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;

}

.feature_cta{
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.feature_cta:hover {
	color: #EA918D;
}

.feature_bottom {
	width: 180px;
	font-size: 1rem;
	font-weight: 400;
}

@media only screen and (max-width: 1100px) {

	.icon img{
		height: 55px;
		width: auto;

	}

	.icon_top{
		font-size: 1rem;
	}

	.icon_bottom{
		font-size: 1.125rem;
	}

	.hero_font{
		font-size: 2.1875rem
	}

	.features{
		-ms-grid-column: 1;
		-ms-grid-column-span: 8;
		grid-column: 1 / span 8;
	}
}

@media only screen and (max-width: 650px) {

	.info{
		-ms-grid-column: 2;
		-ms-grid-column-span: 6;
		grid-column: 2 / span 6;
	}

	.icons{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;

	}

	.icon {
		margin-bottom: 20px;
	}
	
}






















