/*html {scroll-behavior: smooth;}
*/

/*
*, :after, :before {
	box-sizing: border-box;
	flex-wrap: wrap;

}*/

/*
*{
	margin: 0;
	width: 100%;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none;
}*/

/* ========================
	 
	 Base Element Styles 

   ======================== */


*{
	margin: 0;
	box-sizing: border-box;

}


.Navbar{
	display: flex;
	flex-direction: row;
	height: 60px;
	flex-wrap: wrap;
	justify-content: space-between;
	cursor: ;
	background-color: #0089d0;

}

.Amenu {
	align-self: center;
	flex-basis: 100px;



}


/*html  {
	margin: 0;
	background:gray;
	box-sizing: border-box;

}
*/
/*
h1{
	margin: 0;
	padding: 1.5rem;
	border: 5px;
	font-size: 55px;
	color: white;
	text-align: center;
	letter-spacing: 17px;
	box-sizing: border-box;
}






/* MY CLASSES That WORK */




.Header{
/*	background-color: red;
*/	width: 100%;
	box-sizing: border-box;

}

.container {
/*	margin: 0;
*/
}

.TopQuickLinks{
	margin: 0;
/*	border: 10px;
	padding: 13px;*/
/*	background-color: green;
*/
}


.TopBlock {
	margin: 0;
/*	padding: 5px;
	border: 10px;*/
/*	background-color: blue;
*/	text-align: center;


}




.Navbar {
	overflow: hidden;
	background-color: #0089d0;

}


/* Links inside the navbar */

.Navbar .Amenu{
/*	width: 14.28%;
*/	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	text-align: center;

}





/* The dropdown container */


.Dropdown {
	position: relative;	
	display: inline-block;
	float: left;
	overflow: hidden;


}
  

/* /* Dropdown Content (Hidden by Default) */

.dropcontent {
  	display: none;
  	position: absolute;
	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 	z-index: 1;
/*    background-color: #f9f9f9;
*/
}

/* ------*/



/* Links inside the dropdown */

.dropcontent a {
/*  float: none;
*/  
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


/* Add a background color to dropdown links on hover */

.dropcontent a:hover {
/* 	 background-color: black;
*/
}


/* Show the dropdown menu on hover */

.Amenu .dropcontent:hover{
	display: block;
}


.Dropdown:hover {
	background-color: #0089d0;

}







/* ========================
	 Media Queries
   ======================== */
/*
@media screen and (min-width: 731px) {
	div{
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
	}

	h1 {
		max-width: 100%;
		font-size: 25px;
		letter-spacing: 10px;
	}
	
}


 ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
*/


