
  html{scroll-behavior: smooth;

 }


 .LOGO{
        font-family: 'Saira Stencil One', cursive;
        text-align: center;
        color: #02DE40;
        font-size: 72px;
        font-weight: 900px;
        letter-spacing: 35px;
       
    }	

    .Menubar{
        text-align: center;


    }

    .Menubar ul{
        display: inline-flex;
        list-style: none;
        color: #fff;

    }


    .Menubar ul li{
          width: 120px;
          margin: 15px;
          padding: 15px;
    }


    .Menubar ul li a
    {  
        text-decoration: none;
        color: #fff;
    }

    .active, .Menubar ul li:hover 
    {   
        background: #02DE40;
        border-radius: 3px;


    }


    .dropdownmenu{
        display: none;



    }
    
    .Menubar ul li:hover .dropdownmenu
    { 
      display: block;
      position: absolute;
      background: rgb(0,0,0);
      margin-top: 15px;
      margin-left: -15px; 

    }

    .Menubar ul li:hover .dropdownmenu ul
    {
        display: block;
        margin: 10px;
    }
    .Menubar ul li:hover .dropdownmenu ul li
    {
        width: 150px;
        padding: 10px;
        border-bottom: 1px; dotted #fff;
        background: transparent;
        border-radius: 0;
        text-align: left; 

    }

    .Menubar ul li:hover .dropdownmenu ul li:last-child
    { 
      border-bottom: none;

    }

    .Menubar ul li:hover .dropdownmenu ul li a:hover
    {
        color: #02DE40;


    }






  * {
   padding: 0;
   margin:  0;
   box-sizing: border-box;

}



 h2{
    	font-family:sans-serif;
    	color: white;
    	font-size: 
    	font-weight:;
    	letter-spacing:3px;
    }
    h3{
        font-family: sans-serif;
        color: #47d147;
        font-size: 15px;
        font-weight: ;
        letter-spacing:  ;     
    }

    h4{
        font-family:serif; 
        color: white;
        font-size: 10px;
        font-weight: ;
        letter-spacing:  ;

    }

 body{
    background-image: url('../GL Fotos/sacred_rings.jpg'); 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: auto;
}

a{
    color: white;


}

#last{
    color: white;
}

li:visited{
    color: blue;

}

#footer{
    text-align: center;
    color: white;
    padding: 220px;
}

/*this is my comment*/

